.home-layout {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout for small screens */
    grid-template-rows: auto 1fr; /* Adjust row heights */
    grid-template-areas:
        "header"
        "main"
        "sidebar"
        "trending-topics";
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #f3f4f6;
}

.sidebar {
    grid-area: sidebar;
    height: auto; /* Adjust height for small screens */
    background-color: #f3f4f6; /* Ensure background matches */
}

.sidebar .sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar .sidebar-link.active {
    background-color: rgba(255, 255, 255, 0.1);
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    overflow-y: auto;
    padding: 14px;
    background-color: #f3f4f6;
}

.trending-topics {
    margin: 15px;
    grid-area: trending-topics;
    height: auto; /* Adjust height for small screens */
}

/* Media query for tablets and larger screens */
@media (min-width: 768px) {
    .home-layout {
        grid-template-columns: 250px 1fr;
        grid-template-areas:
            "header header"
            "sidebar main"
            "sidebar trending-topics"; /* Adjust layout for medium screens */
    }

    .sidebar {
        height: 100vh; /* Full height for medium screens */
    }

    .trending-topics {
        height: 100vh; /* Full height for medium screens */
    }
}

/* Media query for desktops and larger screens */
@media (min-width: 1024px) {
    .home-layout {
        grid-template-columns: 300px 1fr 300px;
        grid-template-areas:
            "header header header"
            "sidebar main trending-topics"
            "sidebar main trending-topics"; /* Original layout for large screens */
    }

    .sidebar {
        height: 100vh; /* Full height for large screens */
    }

    .trending-topics {
        height: 100vh; /* Full height for large screens */
    }
}
