.search-container {
    position: relative;
    width: 100%;
    margin-bottom: 50px;

  }
  
  .search-input {
    width: 100%;
    padding: 10px 40px 10px 20px; /* Adjust padding to make room for the icon */
    border: 1px solid #ccc;
    border-radius: 25px; /* Rounded borders */
    background-color: white; /* Change to transparent if needed */
    box-sizing: border-box;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    color: #999;
  }
  