@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-primary: #8D66FC;
      --color-secondary: rgb(111 114 185);
      /* ... */
    }
  }
  body.light {
    --bg-color: #ffffff;
    --text-color: #000000;
  }
  
  body.dark {
    --bg-color: #1a202c;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  .header {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  